<div>
<center><h1>ABOUT US</h1></center>
</div>

<div class="jumbotron about-us">
<img class="image" src="https://assets13.modaoperandi.com/uploads/site/custom_molecules/embedded_image/mobile/16403/1448409982-upload.jpeg?_t=1448478087;">
 </div>

<div class="overlay">
 <div class="editorial">
 <p>We are the premiere shoppable game<br> for intelligent and fashion forward women.</p>
 <p>Our mission is to present beautiful magazine<br> like game quizes that will allow<br> you
 to shop with the virtual coins that you earn!!</p>
 </div>

 </div>


