

<%= @message %>

<div class="jumbotron image-1" id="top">
  <h2><em>Play to <strong>win</strong> the<br> pieces you've been<br> coveting.</em></h2></div>
 </div>


<div class="jumbotron quiz-1">
  <p>
  <div style="text-align:center;"
  <a class="btn btn-primary btn-lg" href="#" role="button">PLAY</a></p></div>
</div>

<!--
<img src='https://assets11.modaoperandi.com/uploads/site/custom_molecules/embedded_image/mobile/16132/1447773142-upload.jpeg?_t=1447786879'>
-->
<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/originals/97/18/f6/9718f6ae6b7985c8a141ac7206a86896.jpg">
  <h5>Feather and Suede<br>Pom Pom Bag</h5>
</div>

 -->
<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/38/e7/b8/38e7b806088d623e73bf6cafd39987a6.jpg">
  <h5>Sequin Mosaic Clutch</h5>
</div>

<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/474x/80/2b/f6/802bf60b76caca566f603e09812b7343.jpg">
  <h5>Velvet Jewel Bag</h5>
</div>

<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/22/3c/ce/223cce8dfcd1d3c2b3ba14774b8c0ba9.jpg">
  <h5>Valentino Clutch</h5>
</div>

<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/b2/11/eb/b211ebb78b142dced1ed8ab5375e9248.jpg">
  <h3>Algae</h3>
</div>

<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/b2/11/eb/b211ebb78b142dced1ed8ab5375e9248.jpg">
  <h3>Algae</h3>
</div>

<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/b2/11/eb/b211ebb78b142dced1ed8ab5375e9248.jpg">
  <h3>Algae</h3>
</div>

<div class="pin">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/b2/11/eb/b211ebb78b142dced1ed8ab5375e9248.jpg">
  <h3>Algae</h3>
</div>



 





<div class="clearfix"></div>
<div class="jumbotron">
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


<% if @just_registered == true %>

<div class="modal fade" id="registration-successful-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
	$('#registration-successful-modal').modal();
</script>
<% end %>




  <div class="modal-dialog">
<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">INTELIGISTA</h2>
      </div>
      <div class="modal-body center-txt">
      <div class="img-window">
      <img class="modal-img" src="https://s-media-cache-ak0.pinimg.com/736x/eb/41/a1/eb41a173b91b63b35cd71d35c930e303.jpg">
     </div>
      <div class="welcome-txt"> 
        <h1><p><em>Welcome!</em><br></p></h1>
        <p>Thank You for your registration.<br></p>
        <p> You know have 25 coins!<br></p>
        <p>Invite your friends to recieve more coins!</p>
      </div>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->



