


<%= @message %>


<div class="jumbotron same-size image-1" id="top">
  
    <div class="rw-words rw-words-2">
      <span class="disapearing-words"><em>SEE</em></span>
      <span class="disapearing-words"><strong>PLAY</strong></span>
      <span class="disapearing-words"><strong>SHOP</strong></span>
    </div>

  </div>
 </div>

<div class="jumbotron same-size quiz-1">
  <p>
  
  <div class="editorial-overlay">
  <div class="editorial-content">
  <h1><center><em>Celebrity Fashion:</em> Rihanna!</center><h1>
  </div>
  </div>
</div>

<!--
<img src='https://assets11.modaoperandi.com/uploads/site/custom_molecules/embedded_image/mobile/16132/1447773142-upload.jpeg?_t=1447786879'>
-->
<div class="home-content">
<p>
<h3>She is renowned for her one-of-a-kind style.<br><h3> 
And Rihanna showed exactly why as she arrived at the Christian Dior Spring/Summer 2016 catwalk show at Paris Fashion Week.<br> 
The 27-year-old hitmaker looked sensational in an oversized pink coat-dress which she paired with racy PVC boots for the show at the iconic Louvre Palace.
She's the face of the French fashion house, so it was hardly a surprise to see Rihanna making an appearance at Dior's SS16 show in Paris,<br>
This piece is classic couture. The draped neckline and cape shape are super dramatic, but of course it's the bold hue that really caught our eye. Perfect for adding a pop of color to your wardrobe, <a href="/single_quiz_game/new/26">play</a> to see if you can shop for a coat like Rihanna's.
<!-- <div class="play-overlay"><h1><strong><center><a href="/single_quiz_game/new/26"> PLAY<a><center></strong></h1> </div> -->

<p>
</div>

<div class="pin">
  <img src="http://i.dailymail.co.uk/i/pix/2015/10/02/17/2D03E74100000578-3257642-Tough_The_show_was_a_blend_of_structured_tailoring_and_whimsical-a-244_1443802267394.jpg">
  <center><h4>PLAY</h4><center>
  <a href="/single_quiz_game/new/27" class="glyphicon glyphicon-heart" aria-hidden="true"></a>
</div>


<div class="pin">
  <img src=" http://i.dailymail.co.uk/i/pix/2015/10/02/17/2D03F23900000578-3257642-Tough_The_show_was_a_blend_of_structured_tailoring_and_whimsical-a-248_1443802267452.jpg">
  <center><h4>PLAY</h4><center>
  <a href="/single_quiz_game/new/27" class="glyphicon glyphicon-heart" aria-hidden="true"></a>
</div>

<div class="pin">
  <img src="http://i.dailymail.co.uk/i/pix/2015/10/02/17/2D03D40300000578-3257642-image-a-34_1443803689286.jpg">
  <center><h4>PLAY</h4><center>
  <a href="/single_quiz_game/new/27" class="glyphicon glyphicon-heart" aria-hidden="true"></a>
</div>

<div class="pin">
  <img src="http://i.dailymail.co.uk/i/pix/2015/10/02/17/2D03F1DC00000578-3257642-image-m-33_1443803681637.jpg">
  <center><h4>PLAY</h4><center>
  <a href="/single_quiz_game/new/27" class="glyphicon glyphicon-heart" aria-hidden="true"></a>
</div>




 





<div class="clearfix"></div>


 <div class="some-box">
  <a href="/single_quiz_game/new/27"><button class="some-transparent-button">PLAY</button></a>
</div>


<% if @just_registered == true %>

<div class="modal fade" id="registration-successful-modal" tabindex="-1" role="dialog">

  <div class="modal-dialog">
<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">INTELIGISTA</h2>
      </div>
      <div class="modal-body center-txt">
      <div class="img-window">
      <img class="modal-img" src="https://assets13.modaoperandi.com/uploads/site/custom_molecules/embedded_image/image/8985/1421871901-upload.jpeg?_v=1430475553;">
     </div>
      <div class="welcome-txt"> 
        <h1><p><em>Welcome!</em><br></p></h1>
        <p>Thank You for your registration.<br></p>
        <p> You know have 25 coins!<br></p>
      </div>
    </div><!-- /.modal-body -->
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-primary">CLOSE</button>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<script>
	$('#registration-successful-modal').modal();
</script>
<% end %>






